:root {
    --raisin-black: #28262cff;
    --tropical-indigo: #998fc7ff;
    --periwinkle: #d4c2fcff;
    --amethyst: #8960b5ff;
    --pale-purple: #ffe9ffff;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 1rem;
    background-color: var(--raisin-black);
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--tropical-indigo);
    width: 800px;
    margin: auto;
    height: max-content;
    margin-top: 5rem;
}

.header{
    background-color: var(--periwinkle);
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--raisin-black);
}
.content{
    padding: 1rem;
    text-align: center;
    color: var(--raisin-black);
}